body {
	background-color: #1c4665;
	font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO */

header {
	background-color: #356d92;
	border-top: 5px solid #5399c3;
	border-radius: 0 0 5px 5px;
	margin: auto;
	padding-bottom: 30px;
}

	header > img {
		width: 20%;
		padding: 30px;
		display: flex;
		float: left;
	}

	header > nav > a { 
		display: inline-flex;
		padding: 50px 5% 50px 5%;
		color: #fff;
		list-style-type: none;
		text-decoration: none;
	}

		header > nav > a:hover {
			border-right: 1px dotted #000;
			display: inline-flex;
			padding: 25px 5% 25px 5%;
			color: #fff;
			list-style-type: none;
			text-decoration: none;
		}

/* PRINCIPAL */

#conteudo {
	background-color: #bbb;
	width: 95%; 
	margin: auto;
	border-left: 5px solid #5399c3;
	border-radius: 5px 0 0 5px;
}		

	.home_banner {
		background-image: url('../../images/aparelho-pressao.jpg');
		padding: 50px;
		margin: 30px 0 0;
		text-align: center;
		color: #4682B4;
		text-shadow: 0.1em 0.1em #07A6F8;
	}

	.fundo {
		background-image: url('../../images/aparelho.jpg');
		padding: 50px;
		color: #fff;
	}

		.servico {
			width: 30%;
			padding: 15px;
			font-size: 15px;
		}

			.servico > img {
				border: 1px solid #5399c3;
				border-radius: 50px;
				box-shadow: 3px 3px 5px 3px #1FEBE2;
			}


	.transparente {
		background-color: rgba(0, 0, 0, 0.8);
		padding: 25px;
		border-radius: 5px;
	}

	.tecnico {
		display: inline-flex;
		border-radius: 50%;
		float: left;
		width: 20%;
		margin-right: 30px;
		box-shadow: 3px 3px 3px 3px #1FEBE2;
	}

	.autorizadas{
		background-color: #fff;
		border-radius: 50px;
		margin: 20px;
		padding: 20px;
		box-shadow: 3px 3px 3px 3px #1FEBE2;
		float: center;
	}

	#autorizadas {
		margin: auto;
		width: 80%;
	}

	.flex {
		display: inline-block;
	}

/* RODAPÉ */

footer {
	background-color: #2a2e33;
	padding: 30px;
	margin-top: 30px;
	color: #61b7e8;
}

	footer > div > ul > li {
		list-style-type: none;
		color: #61b7e8;
		display: flex;
	}

	footer > div > ul > li > a {
		list-style-type: none;
		color: #61b7e8;
		text-decoration: none;
	}

	footer > div > ul > li > a:hover {
		list-style-type: none;
		color: #6e98a4;
		text-decoration: none;
	}

	footer .copyright > a {
		color: #fff;
		text-decoration: none;
		text-align: center;
	}


	footer .copyright > a:hover {
		color: #6e98a4;		
		text-decoration: none;
		text-align: center;
	}

	footer > ul > li > iframe {
		float: right;

	}

	.icons {
		display: inline-block;
	}

	.maps {
		display: inline-block;
		float: right;
	}
